<h6 class="mt-4 mb-3 main__title">TESLA</h6>

{{#if cars.length}}
<div class="main__content">
  {{#each cars}}
    <div class="card mb-3">
      <img src="{{image}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
        <h5 class="card-title main__title">{{title}}</h5>
        <p class="card-text">{{subtitle}}</p>
        <p class="card-text price">{{price}}</p>
        <div class="card-body">
          <a class="btn btn-info"  href="/cars/{{id}}" target="_blank" style="width: 29%;">Read Details</a>
          {{#if @root.isAuth}}
            {{#ifequal userId._id @root.userId}}
              <a class="btn btn-secondary" href="/cars/{{id}}/edit?allow=true" style="width: 20.5%;">Edit Info</a>
            {{/ifequal}}
            <form action="/card/add" method="post">
              <input type="hidden" name="id" value="{{id}}"/>
              <button class="btn mt-3" style="background-color: orange; width: 50%" type="submit">Buy Now</button>
            </form>
          {{/if}}
          
        </div>
    </div>
</div>
    {{/each}}
  </div>
{{else}}
 <h4>Car Shop is Empty</h4>
{{/if}}


