<div class="tesla">
    <h3 class="mb-4">{{tesla.title}}</h3>
    <img src="{{tesla.image}}" alt="{{tesla.title}}">
    <p class="tesla__desc mt-3">{{tesla.description}}</p>
    <p><b>Range:</b> {{tesla.teslaRange}}</p>
    <p><b>Peak Power:</b> {{tesla.peakPower}}</p>
    <p><b>AWD:</b> {{tesla.awd}}</p>
    <p class="tesla__price price">{{tesla.price}}</p>
</div>









